<h1>{{name}} </h1>
<div>


	<form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
		<label for='title'></label>
		<input type='text' name='title' id='title' formControlName='title'>

		<label for='shortdescription'></label>
		<input type='text' name='shortdescription' id='shortdescription' formControlName='shortdescription'>
		<br>
		<label for='expiry'></label>
		<input type='date' name='expiry' id='expiry' formControlName='expiry'>
		<br>
		<button> Submit </button>
	</form>

	<h3> List </h3>
	<div *ngFor="let i of record;let ind=index;">
		<button (click)="onClick($event,ind)">{{i.title}}</button>
    <p *ngIf="open[ind]">
      {{i|json}}     
    </p>
    <p>{{status[ind]}}</p>
    <button *ngIf="status[ind]<4" (click)="changestatus($event,ind)">change Status</button>

		<!-- {{ind}} -->
	</div>






</div>