<h1>{{name}} </h1>
<div>


	<form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
		<label for='title'></label>
		<input type='text' name='title' id='title' formControlName='title'>

		<label for='shortdescription'></label>
		<input type='text' name='shortdescription' id='shortdescription' formControlName='shortdescription'>
		<br>
		<label for='expiry'></label>
		<input type='date' name='expiry' id='expiry' formControlName='expiry'>
		<br>
		<button> Submit </button>
	</form>

	<h3> List </h3>
	<div *ngFor="let i of record;let ind=index;">
		<button (click)="onClick($event)" [id]="ind">{{i.shortdescription}}</button>
<!-- {{i|json}} -->
		<!-- {{ind}} -->
	</div>






</div>